@media only screen and (min-width:200px){

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}

.container{
    padding: 30px;
    margin-top: 20px;
}

.terms h1{
    padding-bottom: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}

.terms, .booking, .payment, .checkin, .cancellation, .amendment, .refund, .specific{
    padding: 30px;
    font-style: normal;
    
}

.margin-left{
    margin-left: 20px;
}
}


